---
version: 2.1

executors:
  build-executor:
    docker:
      - image: quay.io/labmonkeys/cimg-base:2023.12-22.04.b72

commands:
  make-image:
    description: "Build OCI image and publish from main branch"
    parameters:
      workdir:
        default: "~/project"
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build OCI image and publish from main branch
          command: |
            cd << parameters.workdir >> && pwd
            if git show --name-only --format='' . | grep ""; then
              echo "Changes detected trigger build"
              if [[ "${CIRCLE_BRANCH}" == "main" ]]; then make publish BUILD_VERSION_SUFFIX=".b${CIRCLE_BUILD_NUM}"; else make oci; fi
            else
              echo "No changes in directory << parameters.workdir >> detected, skip build."
            fi

workflows:
  version: 2

  build:
    jobs:
      - activemq:
          context: "Publishing"
      - antora:
          context: "Publishing"
      - cerebro:
          context: "Publishing"
      - diag:
          context: "Publishing"
      - dupligator:
          context: "Publishing"
      - featmap:
          context: "Publishing"
      - freeradius:
          context: "Publishing"
      - git:
          context: "Publishing"
      - gobetween:
          context: "Publishing"
      - gobgp:
          context: "Publishing"
      - gohugo:
          context: "Publishing"
      - haste-server:
          context: "Publishing"
      - jira-exporter:
          context: "Publishing"
      - karaf:
          context: "Publishing"
      - lldpd:
          context: "Publishing"
      - maven-11-jdk:
          context: "Publishing"
      - maven-17-jdk:
          context: "Publishing"
      - net-snmp:
          context: "Publishing"
      - pleroma:
          context: "Publishing"
      - robotframework:
          context: "Publishing"
      - shellcheck:
          context: "Publishing"
      - udpgen:
          context: "Publishing"
      - zebra:
          context: "Publishing"

jobs:
  activemq:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./activemq"

  antora:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./antora"

  cerebro:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./cerebro"

  diag:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./diag"

  dupligator:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./dupligator"

  featmap:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./featmap"

  freeradius:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./freeradius"

  git:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./git"

  gobetween:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./gobetween"

  gobgp:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./gobgp"

  gohugo:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./gohugo"

  haste-server:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./haste-server"

  jira-exporter:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./jira-exporter"

  karaf:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./karaf"

  lldpd:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./lldpd"

  maven-11-jdk:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./maven-11-jdk"

  maven-17-jdk:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./maven-17-jdk"

  net-snmp:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./net-snmp"

  pleroma:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./pleroma"

  robotframework:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./robotframework"

  shellcheck:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./shellcheck"

  udpgen:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./udpgen"

  zebra:
    executor: build-executor
    steps:
      - make-image:
          workdir: "./zebra"
